<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>ko</string>
	<key>CFBundleExecutable</key>
	<string>SmartScreen</string>
	<key>CFBundleIdentifier</key>
	<string>com.icesgg.smartscreen</string>
	<key>CFBundleName</key>
	<string>SmartScreen</string>
	<key>CFBundleDisplayName</key>
	<string>SmartScreen</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>__VERSION__</string>
	<key>CFBundleVersion</key>
	<string>__VERSION__</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>자리 비움을 알아채려고 아이폰의 블루투스 신호 세기를 읽습니다.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>아이폰 앱이 1초마다 신호 세기를 알려 주도록 이 Mac 이 연결을 받습니다.</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
